body 
{
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 60s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

div
{
	text-align:center;
	align-items: center;

}

.left-button
{
	position: relative;
	left: 10%;
}

.right-button
{
	position: relative;
	right: 10%;
}

.row, .post_action_bar
{
  	display: flex;
}

.navrow
{
	width: 30%;
	margin-left:35%;
}

.col2
{
  	flex:50%;
	height:22px;
}

.nav
{
	margin-top: 0px;	
	margin-bottom: 0px;
	text-align: center;
}

.poster_id, .post_like, .post_comment, .post_share, .post_edit, .del_post, .nav
{
  	flex:16.6%;
	height: 18px;
}

#content
{
	display:flex;
	flex-direction : row;
}

#stream
{
  	flex: 75%;
}

#friends
{
  	flex: 25%;
}

.dropdown 
{
  	position: relative;
  	display: inline-block;
}

.dropdown-content 
{
  	display: none;
  	position: absolute;
  	background-color: #f1f1f1;
  	z-index: 1;
}

.dropdown-content a 
{
  	color: black;
  	padding: 12px 16px;
  	text-decoration: none;
  	display: block;
}

.dropdown-content a:hover
{
	background-color: #ddd;

}

.dropdown:hover .dropdown-content 
{
  	display: block;
}

.dropdown:hover .dropbtn 
{
  	background-color: #3e8e41;
}

.exppost, #newpost
{
  	margin-left:25%;
  	width:50%;
}

#newpost, .post_content, .post_action_bar, .edit, .exppost, #stream
{
  	padding: 5px 5px 5px 5px;
}

#text_input, .edit_input, #post_content_box
{
	background-color: white;
	width: 96%;
}

.del_post, .post_like, .post_comment, post_edit, .post_comment
{
	height: 18px;
}

.marg_z
{
	margin-top: 0px;	
	margin-bottom: 0px;
	text-align:left;
}

.title
{
	font-size: 60px;
	text-align: center;
	font-family: classic-roman;
}

.errormsg
{
	color:red;
}

#stream, #nav, #sitedat, .exppost, #newpost, .edit, #friends, .friend, .login_box
{
	border-collapse: collapse;
	border-color:#e06b31;
  	border-width:1px;
  	border-style:solid;
}

.login_box
{
	padding: 10;
	margin: auto;
	background: #b8e2f2;
	border-color: black;
	width: 200px;
	border-radius: 6px;
}

.or
{
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #000; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
} 

.background
{
	background-color: #b8e2f2;
}

.or span 
{ 
    background:#b8e2f2; 
    padding:0 10px; 
}

#chng_pass
{
	position: absolute;
	top:30px;
	left:45%;
}